<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vincent.dao.other.SqlserverDao">

    <select id="queryTmpBj" resultType="cn.vincent.pojo.TmpBj">
        select mt.MT_MODEL_DESC,
        ltrim(rtrim(MT_COMM_ADDR)) MT_COMM_ADDR,
        isnull((case when r.CUSTOMER_ID IS null then m.POWER_SUPPLYER else r.POWER_SUPPLYER end),-1) as station_id,
        isnull((case when r.CUSTOMER_ID IS null then ol.OBJECT_ID else ol2.OBJECT_ID end),-1) as LINE_ID,
        isnull((case when r.CUSTOMER_ID IS null then os.OBJECT_ID else os2.OBJECT_ID end),-1) as SUBURB_ID,
        isnull(MUS_TI,0)as MUS_TI,
        RIGHT('000000'+CAST(MUS_SGCID as varchar(10)),6)as MUS_SGCID,
        isnull(MUS_KEYVISION,0)as MUS_KEYVISION,
        isnull(MUS_KEYEXPIRY,0)as MUS_KEYEXPIRY,
        isnull(CONVERT(VARCHAR(19), LASTVENDDATE, 120),'') as LASTVENDDATE,
        isnull(CONVERT(VARCHAR(19), LASTVENDFREEDATE, 120),'') as LASTVENDFREEDATE,
        isnull(tg.TG_NAME,'') as TARIFFNAME,
        isnull(cast(r.CUSTOMER_ID as varchar),'') as CUSTOMER_ID,
        isnull(kms.NAME,'') as MeterStatus
        from IPARA_MTRPOINT m left join IKERNEL_MT_TYPE mt on mt.MT_MODEL_ID=m.MT_MODEL_ID
        left join IPARA_RESIDENT r on m.ACTUAL_CUSTOMER_ID=r.CUSTOMER_ID
        left join IPARA_MTRSTATUS ms on ms.MTRPOINT_ID=m.MTRPOINT_ID
        left join IKERNEL_MTRSTATUS kms on kms.ID=ms.STATUS_ID
        left join IPARA_OBJECT ot on ot.OBJECT_ID=r.POWER_SUPPLYER
        left join TARIFF_GROUP tg on tg.TARIFFGROUPID=ot.TARIFFGROUPID
        left join IPARA_OBJECT ol on ol.OBJECT_ID=m.LINE_ID and ol.POWER_SUPPLYER=m.POWER_SUPPLYER
        left join IPARA_OBJECT ol2 on ol2.OBJECT_ID=r.LINE_ID and ol2.POWER_SUPPLYER=r.POWER_SUPPLYER
        left join IPARA_OBJECT os on os.OBJECT_ID=m.SUBURB_ID and os.POWER_SUPPLYER=m.POWER_SUPPLYER
        left join IPARA_OBJECT os2 on os2.OBJECT_ID=r.SUBURB_ID and os2.POWER_SUPPLYER=r.POWER_SUPPLYER
        where m.MTRPOINT_ID &lt;&gt; 269586
    </select>

    <select id="queryTmpYh" resultType="cn.vincent.pojo.TmpYh">
        select CUSTOMER_ID,RTRIM(LTRIM(replace(CUSTOMER_NAME,',','.'))) customer_name,r.STATUS
            ,OPENACCOUNT_DATE
            ,RTRIM(LTRIM(isnull(REPLACE(ADDRESS,',','.'),''))) ADDRESS,RTRIM(LTRIM(isnull(REPLACE(LINKMAN,',','.'),''))) StandNumber
            ,RTRIM(LTRIM(isnull(REPLACE(LINKMAN_PHONE,',','.'),''))) LINKMAN_PHONE,r.POWER_SUPPLYER as Station_id
            ,US_TI,RTRIM(LTRIM(isnull(REPLACE(US_IDNUM,',','.'),''))) US_IDNUM
            ,RTRIM(LTRIM(isnull(REPLACE(US_EMAIL,',','.'),''))) US_EMAIL,RTRIM(LTRIM(isnull(REPLACE(US_ZIP,',','.'),''))) US_ZIP,US_SEX
            ,RTRIM(LTRIM(isnull(REPLACE(BANKACCOUNT,',','.'),''))) BANKACCOUNT
            ,ISNULL(BUSINESS_REGISTRATION_NUMBER,'') as BUSINESS_REGISTRATION_NUMBER,
            isnull(tg.TG_NAME,'') as TARIFFNAME
         from IPARA_RESIDENT r
         left join IPARA_OBJECT ot on ot.OBJECT_ID=r.POWER_SUPPLYER
         left join TARIFF_GROUP tg on tg.TARIFFGROUPID=ot.TARIFFGROUPID
    </select>

    <select id="queryTmpZw" resultType="cn.vincent.pojo.TmpZw">
        select d.DEBTID, d.CUSTOMER_ID,
        DEBTNM,
        AMOUNT Debt_total,
        Isnull(CURENTBLC,0) Balance,
        DTYPE,MINPAY,PMONEYPCT,AMOUNTPCT
        ,DEBT_DATE CREATE_DATE, case when isnull(d.LASTDATE,'')='' then '' else
        isnull(CONVERT(VARCHAR(19), d.LASTDATE, 120),'') end LASTDATE
        , (case when DEBTNM in ('Preloaded Credit','preload debt') then 1
        when DEBTNM in ('Tamer','Tamper','tampering') then 2
        else 3 end) as DebtType
        , isnull(d.PAYCTS,0) PAYCTS, ISNULL(d.AGREE_ID,'') as AGREE_ID
        ,0 AS DebtStatus
        from IPARA_DEBT d
        where isnull(d.OKFLAG,0)=0 and 0 &lt;&gt; CURENTBLC
        union all
        select d.DEBTID, d.CUSTOMER_ID,
        DEBTNM,
        AMOUNT Debt_total,
        0 Balance,
        DTYPE,MINPAY,PMONEYPCT,AMOUNTPCT
        ,DEBT_DATE CREATE_DATE, case when isnull(d.LASTDATE,'')='' then '' else
        isnull(CONVERT(VARCHAR(19), d.LASTDATE, 120),'') end LASTDATE
        , (case when DEBTNM in ('Preloaded Credit','preload debt') then 1
        when DEBTNM in ('Tamer','Tamper','tampering') then 2
        else 3 end) as DebtType
        , (isnull(d.PAYCTS,0)+(case when CURENTBLC=0 then 0 else 1 end)) PAYCTS, ISNULL(d.AGREE_ID,'') as AGREE_ID
        ,(case when CURENTBLC=0 then 1 else 2 end) AS DebtStatus
        from IPARA_DEBT d
        where isnull(d.OKFLAG,0)>0
    </select>

    <select id="queryTmpLjz" resultType="cn.vincent.pojo.TmpLjz">
        SELECT  SUM(OCD_ENERGY) energy,
                m.MT_COMM_ADDR,
                CONVERT(varchar(10),DATEADD(mm, DATEDIFF(mm, 0,o.OD_DATE), 0),120) as LASTVENDDATE,
                ISFREE
        FROM ORDER_trn o inner join IPARA_MTRPOINT m on o.METERID=m.MTRPOINT_ID
        inner join IPARA_RESIDENT r on r.CUSTOMER_ID=m.ACTUAL_CUSTOMER_ID
        where m.ACTUAL_CUSTOMER_ID is not null
              and isnull(o.DELFLAG,0)=0 and o.isfree=1
              and OD_DATE>CONVERT(datetime,#{lastVendDate},120)
        group by m.MT_COMM_ADDR,ISFREE,DATEADD(mm, DATEDIFF(mm, 0,o.OD_DATE), 0)
        order by m.MT_COMM_ADDR,DATEADD(mm, DATEDIFF(mm, 0,o.OD_DATE), 0),ISFREE
    </select>

</mapper>