<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vincent.dao.other.SqlserverDao">

    <select id="queryTmpBj" resultType="cn.vincent.pojo.TmpBj">
        select mt.MT_MODEL_DESC,
        ltrim(rtrim(MT_COMM_ADDR)) MT_COMM_ADDR,
        isnull((case when r.CUSTOMER_ID IS null then m.POWER_SUPPLYER else r.POWER_SUPPLYER end),-1) as station_id,
        isnull((case when r.CUSTOMER_ID IS null then ol.OBJECT_ID else ol2.OBJECT_ID end),-1) as LINE_ID,
        isnull((case when r.CUSTOMER_ID IS null then os.OBJECT_ID else os2.OBJECT_ID end),-1) as SUBURB_ID,
        isnull(MUS_TI,0)as MUS_TI,
        RIGHT('000000'+CAST(MUS_SGCID as varchar(10)),6)as MUS_SGCID,
        isnull(MUS_KEYVISION,0)as MUS_KEYVISION,
        isnull(MUS_KEYEXPIRY,0)as MUS_KEYEXPIRY,
        isnull(CONVERT(VARCHAR(19), LASTVENDDATE, 120),'') as LASTVENDDATE,
        isnull(CONVERT(VARCHAR(19), LASTVENDFREEDATE, 120),'') as LASTVENDFREEDATE,
        isnull(tg.TG_NAME,'') as TARIFFNAME,
        isnull(cast(r.CUSTOMER_ID as varchar),'') as CUSTOMER_ID,
        isnull(kms.NAME,'') as MeterStatus
        from IPARA_MTRPOINT m left join IKERNEL_MT_TYPE mt on mt.MT_MODEL_ID=m.MT_MODEL_ID
        left join IPARA_RESIDENT r on m.ACTUAL_CUSTOMER_ID=r.CUSTOMER_ID
        left join IPARA_MTRSTATUS ms on ms.MTRPOINT_ID=m.MTRPOINT_ID
        left join IKERNEL_MTRSTATUS kms on kms.ID=ms.STATUS_ID
        left join IPARA_OBJECT ot on ot.OBJECT_ID=r.POWER_SUPPLYER
        left join TARIFF_GROUP tg on tg.TARIFFGROUPID=ot.TARIFFGROUPID
        left join IPARA_OBJECT ol on ol.OBJECT_ID=m.LINE_ID and ol.POWER_SUPPLYER=m.POWER_SUPPLYER
        left join IPARA_OBJECT ol2 on ol2.OBJECT_ID=r.LINE_ID and ol2.POWER_SUPPLYER=r.POWER_SUPPLYER
        left join IPARA_OBJECT os on os.OBJECT_ID=m.SUBURB_ID and os.POWER_SUPPLYER=m.POWER_SUPPLYER
        left join IPARA_OBJECT os2 on os2.OBJECT_ID=r.SUBURB_ID and os2.POWER_SUPPLYER=r.POWER_SUPPLYER
        where m.MTRPOINT_ID &lt;&gt; 269586
    </select>

    <select id="queryTmpYh" resultType="cn.vincent.pojo.TmpYh">
        select CUSTOMER_ID,RTRIM(LTRIM(replace(CUSTOMER_NAME,',','.'))) customer_name,r.STATUS
            ,OPENACCOUNT_DATE
            ,RTRIM(LTRIM(isnull(REPLACE(REPLACE(ADDRESS,';',' '),',','.'),''))) ADDRESS,RTRIM(LTRIM(isnull(REPLACE(LINKMAN,',','.'),''))) StandNumber
            ,RTRIM(LTRIM(isnull(REPLACE(LINKMAN_PHONE,',','.'),''))) LINKMAN_PHONE,r.POWER_SUPPLYER as Station_id
            ,US_TI,RTRIM(LTRIM(isnull(REPLACE(US_IDNUM,',','.'),''))) US_IDNUM
            ,RTRIM(LTRIM(isnull(REPLACE(US_EMAIL,',','.'),''))) US_EMAIL,RTRIM(LTRIM(isnull(REPLACE(US_ZIP,',','.'),''))) US_ZIP,US_SEX
            ,RTRIM(LTRIM(isnull(REPLACE(BANKACCOUNT,',','.'),''))) BANKACCOUNT
            ,ISNULL(BUSINESS_REGISTRATION_NUMBER,'') as BUSINESS_REGISTRATION_NUMBER,
            isnull(tg.TG_NAME,'') as TARIFFNAME
         from IPARA_RESIDENT r
         left join IPARA_OBJECT ot on ot.OBJECT_ID=r.POWER_SUPPLYER
         left join TARIFF_GROUP tg on tg.TARIFFGROUPID=ot.TARIFFGROUPID
    </select>

    <select id="queryTmpZw" resultType="cn.vincent.pojo.TmpZw">
        select d.DEBTID, d.CUSTOMER_ID,
        DEBTNM,
        AMOUNT Debt_total,
        Isnull(CURENTBLC,0) Balance,
        DTYPE,MINPAY,PMONEYPCT,AMOUNTPCT
        ,DEBT_DATE CREATE_DATE, case when isnull(d.LASTDATE,'')='' then '' else
        isnull(CONVERT(VARCHAR(19), d.LASTDATE, 120),'') end LASTDATE
        , (case when DEBTNM in ('Preloaded Credit','preload debt') then 1
        when DEBTNM in ('Tamer','Tamper','tampering') then 2
        else 3 end) as DebtType
        , isnull(d.PAYCTS,0) PAYCTS, ISNULL(d.AGREE_ID,'') as AGREE_ID
        ,0 AS DebtStatus
        from IPARA_DEBT d
        where isnull(d.OKFLAG,0)=0 and 0 &lt;&gt; CURENTBLC
        union all
        select d.DEBTID, d.CUSTOMER_ID,
        DEBTNM,
        AMOUNT Debt_total,
        0 Balance,
        DTYPE,MINPAY,PMONEYPCT,AMOUNTPCT
        ,DEBT_DATE CREATE_DATE, case when isnull(d.LASTDATE,'')='' then '' else
        isnull(CONVERT(VARCHAR(19), d.LASTDATE, 120),'') end LASTDATE
        , (case when DEBTNM in ('Preloaded Credit','preload debt') then 1
        when DEBTNM in ('Tamer','Tamper','tampering') then 2
        else 3 end) as DebtType
        , (isnull(d.PAYCTS,0)+(case when CURENTBLC=0 then 0 else 1 end)) PAYCTS, ISNULL(d.AGREE_ID,'') as AGREE_ID
        ,(case when CURENTBLC=0 then 1 else 2 end) AS DebtStatus
        from IPARA_DEBT d
        where isnull(d.OKFLAG,0)>0
    </select>

    <select id="queryTmpLjzByDateStr" resultType="cn.vincent.pojo.TmpLjz">
        SELECT  SUM(OCD_ENERGY) energy,
                m.MT_COMM_ADDR,
                convert(varchar(19),max(o.OD_DATE),120) as LASTVENDDATE,
                o.ISFREE,'0' AS ISUSED
        FROM ORDER_trn o
        inner join IPARA_MTRPOINT m on o.METERID=m.MTRPOINT_ID
        inner join IPARA_RESIDENT r on r.CUSTOMER_ID=m.ACTUAL_CUSTOMER_ID
        where m.ACTUAL_CUSTOMER_ID is not null
                and isnull(o.DELFLAG,0)=0
                and DATEDIFF(DAY,o.OD_DATE,#{cumuDate})=0
        group by m.MT_COMM_ADDR,o.ISFREE
    </select>


    <delete id="deleteTmpData">
        delete from ${tmpTableName}
    </delete>
    <insert id="insertTmpLjz" parameterType="java.util.List">
        insert into tmp_ljz (energy,MT_COMM_ADDR,LASTVENDDATE,ISFREE, ISUSED)
        values
        <foreach collection="list" item="item" index="index" separator =",">
            (
                #{item.energy,jdbcType=VARCHAR},
                #{item.MT_COMM_ADDR,jdbcType=VARCHAR},
                #{item.LASTVENDDATE,jdbcType=VARCHAR},
                #{item.ISFREE,jdbcType=VARCHAR},
                #{item.ISUSED,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateIparaMtrPoint0">
        UPDATE m set
            m.LASTVENDDATE=
                (case when m.LASTVENDDATE IS null then ljz.lastvenddate
                 when m.LASTVENDDATE>ljz.lastvenddate then m.LASTVENDDATE
                 else ljz.lastvenddate end),
            m.CUR_MONTH_UNITS=ISNULL(m.CUR_MONTH_UNITS,0)+ljz.energy
        from IPARA_MTRPOINT m
        inner join
            (select sum(energy) as energy,mt_comm_addr,CONVERT(datetime, max(lastvenddate), 120) as lastvenddate
             from tmp_ljz
             where ISUSED=0 and ISFREE=0 and DATEDIFF(MONTH,CONVERT(datetime, lastvenddate, 120),GETDATE())=0
             group by mt_comm_addr) ljz
        on m.MT_COMM_ADDR=ljz.mt_comm_addr
    </update>
    <update id="updateTmpLjz0">
        update tmp_ljz set isused=1
        where ISUSED=0 and ISFREE=0 and DATEDIFF(MONTH,CONVERT(datetime, lastvenddate, 120),GETDATE())=0
    </update>
    <update id="updateIparaMtrPoint1">
        UPDATE m set m.LASTVENDFREEDATE=
            (case when m.LASTVENDFREEDATE IS null then ljz.lastvenddate
             when m.LASTVENDFREEDATE>ljz.lastvenddate then m.LASTVENDFREEDATE
             else ljz.lastvenddate end)
        from IPARA_MTRPOINT m
        inner join
            (select sum(energy) as energy,mt_comm_addr,CONVERT(datetime, max(lastvenddate), 120) as lastvenddate
             from tmp_ljz where ISUSED=0 and ISFREE=1
            and DATEDIFF(MONTH,CONVERT(datetime, lastvenddate, 120),GETDATE())=0
            group by mt_comm_addr) ljz
        on m.MT_COMM_ADDR=ljz.mt_comm_addr
    </update>
    <update id="updateTmpLjz1">
        update tmp_ljz set isused=1
        where ISUSED=0 and ISFREE=1 and DATEDIFF(MONTH,CONVERT(datetime, lastvenddate, 120),GETDATE())=0
    </update>
</mapper>