<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vincent.testmybatisplus.console.mapper.UserMapper">
    <select id="selectRawXml" resultType="cn.vincent.testmybatisplus.console.entity.User">
        SELECT * FROM public.user
    </select>
    <select id="findAllXml" resultType="cn.vincent.testmybatisplus.console.entity.User">
        select * from public.user ${ew.customSqlSegment}
    </select>
</mapper>