<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vincent.dao.master.MysqlToolDao">

    <select id="queryTableExist" resultType="java.lang.Integer">
        select COUNT(1) FROM information_schema.`TABLES` where TABLE_NAME = #{tableName}
    </select>

    <select id="queryTableSize" resultType="java.lang.Integer">
        select count(1) from ${tableName}
    </select>

    <update id="updateCreateTmpCentlec">
        CREATE TABLE `tmp_centlec` (
            `id` int(11) NOT NULL AUTO_INCREMENT,
            `syn_date` varchar(8) NOT NULL,
            `cur_dead_step` varchar(8) NOT NULL,
            `remark` varchar(64) DEFAULT NULL,
            `tv` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
            PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    </update>
    <select id="queryTableNameList" resultType="java.lang.String">
        SELECT TABLE_NAME FROM information_schema.`TABLES` WHERE TABLE_NAME LIKE CONCAT(#{tableBaseName},'2020%')
    </select>
    <update id="updateDropTableByName">
        DROP TABLE IF EXISTS ${tableName}
    </update>
    <update id="updateAlterTableByName">
        ALTER TABLE ${oldName} RENAME TO ${newName}
    </update>
    <update id="updateCreateTmpLjz">
        CREATE TABLE `tmp_ljz` (
          `energy` varchar(128) DEFAULT NULL,
          `MT_COMM_ADDR` varchar(128) NOT NULL,
          `LASTVENDDATE` varchar(128) NOT NULL,
          `ISFREE` varchar(128) NOT NULL,
          `ISUSED` varchar(128) NOT NULL,
          `meterId` varchar(128) DEFAULT NULL COMMENT 'NULL',
          `consId` varchar(128) DEFAULT NULL COMMENT 'NULL',
          `energy_old` varchar(128) DEFAULT NULL COMMENT 'NULL',
          `MT_COMM_ADDR_old` varchar(128) DEFAULT NULL COMMENT 'NULL',
          `LASTVENDDATE_old` varchar(128) DEFAULT NULL COMMENT 'NULL',
          `ISFREE_old` varchar(128) DEFAULT NULL COMMENT 'NULL',
          `ISUSED_old` varchar(128) DEFAULT NULL COMMENT 'NULL',
          PRIMARY KEY (`MT_COMM_ADDR`,`LASTVENDDATE`,`ISFREE`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    </update>
    <select id="queryMaxLastVendDateFromLjz1" resultType="java.lang.String">
        select max(lastvenddate) from tmp_ljz1
    </select>
    <select id="queryTmpLjzIsToday" resultType="java.lang.Integer">
        select max(lastvenddate) is null OR max(lastvenddate) > CURRENT_DATE from tmp_ljz
    </select>
    <select id="queryMaxSynTvFromPayFlow" resultType="java.lang.String">
        SELECT MAX(tv) FROM vd_a_pay_flow WHERE charge_remark LIKE 'migrate%'
    </select>
    <select id="queryInTmpBj" resultType="java.lang.Integer">
        select count(1) from tmp_bj where MT_COMM_ADDR = #{meterNo}
    </select>
    <update id="updateCreateTmpSdjl">
        CREATE TABLE `tmp_sdjl` (
          `ORDERSID` varchar(32) NOT NULL,
          `MT_COMM_ADDR` varchar(32) DEFAULT NULL,
          `OD_DATE` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
          `ISFREE` TINYINT UNSIGNED,
          `CUSTOMER_ID` MEDIUMINT UNSIGNED,
          `SGC_OLD` varchar(8) DEFAULT NULL,
          `TI_OLD` TINYINT UNSIGNED,
          `KEYVERSIONID_OLD` TINYINT UNSIGNED,
          `KEYEXPIRY_OLD` TINYINT UNSIGNED,
          `SGC` varchar(8) DEFAULT NULL,
          `TI` TINYINT UNSIGNED,
          `KEYVERSIONID` TINYINT UNSIGNED,
          `KEYEXPIRY` TINYINT UNSIGNED,
          `OCD_TOKEN` varchar(32) DEFAULT NULL,
          `KEYTOKEN1` varchar(32) DEFAULT NULL,
          `KEYTOKEN2` varchar(32) DEFAULT NULL,
          `OCD_ENERGY` decimal(18,2) DEFAULT NULL,
          `OCD_MONEY` decimal(18,2) DEFAULT NULL,
          `PAYTYPE` TINYINT UNSIGNED,
          `FP_VAL3` decimal(18,2) DEFAULT NULL,
          `OCD_DEBT` decimal(18,2) DEFAULT NULL,
          `DEBT_BLC` decimal(18,2) DEFAULT NULL,
          `OCD_PAYMONEY` decimal(18,2) DEFAULT NULL,
          `operator` varchar(32) DEFAULT NULL,
          `TE_NAME` varchar(64) DEFAULT NULL,
          `DELFLAG` TINYINT UNSIGNED,
          `canceler` varchar(32) DEFAULT NULL,
          `cancelDate` DATETIME DEFAULT NULL,
          `cancelReason` ENUM('00','01','02','03','04') DEFAULT '00',
          `BANKINGNO` varchar(32) DEFAULT NULL,
          PRIMARY KEY (`ORDERSID`, `OD_DATE`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    </update>
</mapper>